# HackerRank

## Say "Hello, World!" With Python

In [1]:
print("Hello, World!")

Hello, World!

## Arithmetic Operators

In [2]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a*b)

ValueError: invalid literal for int() with base 10: ''

## Python: Division

In [ ]:
a = int(input())
b = int(input())
print (a//b)
print(a/b)

# Loops

In [ ]:
n = int(input())
for i in range (n):
  print(i**2)

# If then else

In [ ]:
n = int(input().strip())
if n%2 != 0 :           # impair
  print("Weird")
else:                   # pair
  if n >=2 and n <=5 :
    print("Not Weird")
  elif n>=6 and n<=20 :
    print("Weird")
  else :
    print("Not Weird")

# Pandas

In [3]:
import pandas as pd
import math

In [4]:
from sklearn.datasets import fetch_california_housing
cali_houses = fetch_california_housing()
cali_houses = pd.DataFrame(columns=cali_houses.feature_names, data=cali_houses.data)

In [5]:
cali_houses.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [6]:
cali_houses.mean()

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [7]:
cali_houses["HouseAge"].mean()

28.639486434108527

In [8]:
cali_houses["Population"].std()

1132.4621217653375

In [9]:
cali_houses.Population.std()

1132.4621217653375

In [14]:
Bob = cali_houses["Population"].std()
print(Bob)
print("L'écart type de la colonne Population vaut :", Bob)
print(f"L'écart type de la colonne Population vaut : {Bob}.")
print(f"L'écart type de la colonne Population vaut : {Bob:.3f}")
print("L'écart type de la colonne Population vaut : ", int(Bob))
print("L'écart type de la colonne Population vaut : ", math.ceil(Bob))

1132.4621217653375
L'écart type de la colonne Population vaut : 1132.4621217653375
L'écart type de la colonne Population vaut : 1132.4621217653375.
L'écart type de la colonne Population vaut : 1132.462
L'écart type de la colonne Population vaut :  1132
L'écart type de la colonne Population vaut :  1133

In [11]:
cali_houses.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [12]:
cali_houses.describe(include="all")

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000