# Estimates and sampling
## Facebook

In [1]:
# import libraries
import pandas as pd
import math

In [2]:
# import dataset
dataset = pd.read_excel("../99-assets/Python/Hours Spent on Facebook.xlsx")
print(dataset.shape)

(102, 4)

In [3]:
dataset.head()

   Customer   Hours spent on Facebook on Mobile  Unnamed: 2  Unnamed: 3
0          1                           4.092475         NaN    2.978913
1          2                           7.233371         NaN         NaN
2          3                           7.455792         NaN         NaN
3          4                           7.253503         NaN         NaN
4          5                           2.249682         NaN         NaN

In [4]:
# Calculate Mean & Standard Dev
mean = dataset["Hours spent on Facebook on Mobile"].mean()
stdev = dataset["Hours spent on Facebook on Mobile"].std()

print("Moyenne", mean)
print("Ecart type", stdev)

Moyenne 4.847316438536623
Ecart type 2.9789129198018

$$E = t \frac{s}{\sqrt{n}}$$

In [5]:
    
# Set the t-value for 95% confidence interval
t = 1.96

# Compute the interval 

# intervalle = [mean - t*stdev/math.sqrt(102), mean + t*stdev/math.sqrt(102)]

# intervalle = [mean - t*stdev/math.sqrt(len(dataset)), mean + t*stdev/math.sqrt(len(dataset))]

# n = len(dataset)
# intervalle = [mean - t*stdev/math.sqrt(n), mean + t*stdev/math.sqrt(n)]

n = len(dataset)
E = t*stdev/math.sqrt(n)
intervalle = [mean - E, mean + E]

In [6]:
print(intervalle)

[4.269202030113112, 5.4254308469601344]

## Google

In [7]:
dataset = pd.read_excel("../99-assets/Python/Monthly spending on adwords.xlsx")
dataset.shape

(31, 1)

In [8]:
# Calculate Mean & Standard Dev
mean = dataset["Monthly spending"].mean()
stdev = dataset["Monthly spending"].std()
    
# Set the t-value for 95% confidence level (Student distribution !)
t = 2.043

# Find the interval 
# real_mean = [mean - t*stdev/math.sqrt(31), mean + t*stdev/math.sqrt(31)]
real_mean = [mean - t*stdev/math.sqrt(len(dataset)), mean + t*stdev/math.sqrt(len(dataset))]

In [9]:
print(real_mean)

[398.58537746767627, 584.9603384818613]

## Nintendo

In [10]:
dataset = pd.read_excel("../99-assets/Python/Number of switch sold.xlsx")
dataset.shape

(20, 2)

In [11]:
dataset.head()

            City  Number of sales
0       New York     65538.794054
1  San Francisco     45709.289870
2       Seattle      87417.957092
3        Denver      96461.186529
4        Austin       3665.528408

In [12]:
# Calculate Mean & Standard Dev
mean = dataset["Number of sales"].mean()
stdev = dataset["Number of sales"].std()
print(mean)
print(stdev)

42996.94036175361
28365.335356619857

$$E = t \frac{s}{\sqrt{n}}$$

Et donc 

$$ \sqrt{n} = t \frac{s}{E}$$

$$ n = (t \frac{s}{E})^2$$

In [13]:

# Set Standard Error
E = 5000

# Set t value
t = 1.96

# Minimum Sample Size
n = (t*stdev/E)**2

In [14]:
print(n)
print(math.ceil(n))
print(f"Nombre minimum de villes : {int(n+1)}")

123.6368634876361
124
Nombre minimum de villes : 124

## Apple

In [15]:
dataset = pd.read_excel("../99-assets/Python/satisfaction apple release.xlsx")
dataset.shape

(41, 1)

In [16]:
dataset.head(10)

   Satisfied customer
0                   0
1                   0
2                   0
3                   0
4                   0
5                   1
6                   1
7                   0
8                   1
9                   1

In [17]:
# Calculate percentage

n = dataset.shape[0]

k = dataset["Satisfied customer"].sum()

p = k/n

# 95% n>30 => z=1.96
z = 1.96

$$E = z \sqrt{\frac{p (1-p)}{n}}$$

In [18]:

# Calculate the confidence interval of the proportion of the population.
E = 1.96 * (p*(1-p)/n)**.5

print(f"p                       : {p:.2f}")
print(f"E                       : {E:.2f}")
print(f"Intervalle de confiance : [{p-E:.2f}, {p+E:.2f}]")

p                       : 0.37
E                       : 0.15
Intervalle de confiance : [0.22, 0.51]

## Laboratory

$$E = z \sqrt{\frac{p (1-p)}{n}}$$

donc

$$n = p (1-p) (\frac{z}{E})^2$$

In [19]:
# Set up your expected proportion
p = 0.90

# Set up Z
z = 1.96

# Set up Error
E = 0.01

# Calculate N 
n = p * (1 - p)* (z/E)**2

In [20]:
print(n)
print(math.ceil(n))
print(f"Nombre de personnes à tester: {n:.2f} => {int(n+1)}")

3457.439999999999
3458
Nombre de personnes à tester: 3457.44 => 3458