# 1/2 - Python

## Notes du matin

* variables
* type
* les listes : it√©rables, mutables
* dico
* tuple 
* conditions
* boucle for

In [3]:
# Case sensitive

bob =3
Bob = 5

print(bob)
print(Bob)
print(bob)

3
5
3

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("assets\Python\iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [6]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
df["sepal.length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

In [8]:
df.loc[0] # ligne 0

sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

In [1]:
df.iloc[2:4, :]  # ligne [0:4[

NameError: name 'df' is not defined

In [14]:
df.loc[2:4, "sepal.length"]  # ligne [2:4]

2    4.7
3    4.6
4    5.0
Name: sepal.length, dtype: float64

In [20]:
df.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [23]:
df.iloc[:,0:4].std()

[RangeIndex(start=0, stop=150, step=1),
 Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
        'variety'],
       dtype='object')]

In [28]:
axes = df.axes

In [32]:
# print(axes[0])
print(axes[1])

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [33]:
for i in axes:
  print (f"{i}")
  for j in

RangeIndex(start=0, stop=150, step=1)
Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [36]:
for i in range(5):
  print(i)

print()

for i in range(0, 5):
  print(i)

0
1
2
3
4

0
1
2
3
4

In [37]:
# un dictionnaire
# k = en-t√™te colonne
# v = valeurs
bob = pd.DataFrame({
  "A": [1, 2, 3, 5], 
  "B": [1, 4, 2, 3]
})
print(bob)

   A  B
0  1  1
1  2  4
2  3  2
3  5  3