# Estimates and sampling
## Facebook

In [33]:
# import libraries
import pandas as pd
import math

In [34]:
# import dataset
dataset = pd.read_excel("../assets/Python/Hours Spent on Facebook.xlsx")
print(dataset.shape)

(102, 4)

In [35]:
dataset.head()

   Customer   Hours spent on Facebook on Mobile  Unnamed: 2  Unnamed: 3
0          1                           4.092475         NaN    2.978913
1          2                           7.233371         NaN         NaN
2          3                           7.455792         NaN         NaN
3          4                           7.253503         NaN         NaN
4          5                           2.249682         NaN         NaN

In [36]:
# Calculate Mean & Standard Dev
mean = dataset["Hours spent on Facebook on Mobile"].mean()
stdev = dataset["Hours spent on Facebook on Mobile"].std()
    
# Set the t-value for 95% confidence interval
t = 1.96

# Compute the interval 

#real_mean = [mean - t*stdev/math.sqrt(102), mean + t*stdev/math.sqrt(102)]
real_mean = [mean - t*stdev/math.sqrt(len(dataset)), mean + t*stdev/math.sqrt(len(dataset))]

In [37]:
print(real_mean)

[4.269202030113112, 5.4254308469601344]

## Google

In [38]:
dataset = pd.read_excel("../assets/Python/Monthly spending on adwords.xlsx")
dataset.shape

(31, 1)

In [39]:
# Calculate Mean & Standard Dev
mean = dataset["Monthly spending"].mean()
stdev = dataset["Monthly spending"].std()
    
# Set the t-value for 95% confidence level (Student distribution !)
t = 2.043

# Find the interval 
# real_mean = [mean - t*stdev/math.sqrt(31), mean + t*stdev/math.sqrt(31)]
real_mean = [mean - t*stdev/math.sqrt(len(dataset)), mean + t*stdev/math.sqrt(len(dataset))]

In [40]:
print(real_mean)

[398.58537746767627, 584.9603384818613]

## Nintendo

In [9]:
dataset = pd.read_excel("../assets/Python/Number of switch sold.xlsx")
dataset.shape

(20, 2)

In [10]:
dataset.head()

            City  Number of sales
0       New York     65538.794054
1  San Francisco     45709.289870
2       Seattle      87417.957092
3        Denver      96461.186529
4        Austin       3665.528408

In [11]:
# Calculate Mean & Standard Dev
mean = dataset["Number of sales"].mean()
stdev = dataset["Number of sales"].std()
print(mean)
print(stdev)

# Set Standard Error
E = 5000

# Set t value
t = 1.96

# Minimum Sample Size
n = (t*stdev/E)**2

42996.94036175361
28365.335356619857

In [12]:
print(n)

123.6368634876361

## Apple

In [13]:
dataset = pd.read_excel("../assets/Python/satisfaction apple release.xlsx")
dataset.shape

(41, 1)

In [14]:
# Calculate percentage

n = dataset.shape[0]

k = dataset["Satisfied customer"].sum()

p = k/n

# Set Z Value : we use the normal distribution because the FINAL sample size n will probably be > 40
z = 1.96 

# Calculate interval
real_percentage = [p - z*math.sqrt(p*(1-p)/n), p + z*math.sqrt(p*(1-p)/n)]

In [15]:
print(real_percentage)

[0.21841458617183335, 0.5132927309013373]

## Laboratory

In [16]:
# Set up your expected proportion
p = 0.90

# Set up Z
z = 1.96

# Set up Error
E = 0.01

# Calculate N 
n = p * (1 - p)* (z/E)**2

In [43]:
print(n)
print(math.ceil(n))

3457.439999999999
3458